@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Tibetan:wght@100..900&display=swap");
/* 重置所有標籤的樣式 */
* {
  margin: 0;
  padding: 0;
  /* 不累加內距padding與邊框border */
  box-sizing: border-box;
}

/* 重置字體 */
body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 100%;
  /* background-color: rgb(175, 207, 191); */
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  /* height: auto; */
}

/* 重置相片 */
picture {
  display: block;
}

/* 重置連接 */
a {
  /* 將預設inline改成block */
  display: block;
  text-decoration: none;
  color: var(--deep);
}

/* 重置按鈕 */
button {
  border: none;
  background-color: transparent;
}

/* 重置select */
select {
  outline: none;
  font: inherit;
}

option {
  font: inherit;
}

label {
  display: block;
}

/* 按鈕手 */
button {
  cursor: pointer;
}

input {
  /* 用來校正placeholder */
  position: relative;
}

input:focus {
  outline: none;
}

input::placeholder {
  /* 垂直置中 */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* reset */
@font-face {
  font-family: "Qomolangma-Tsumachu";
  src: url(../font/Qomolangma-Tsumachu.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* 共用區 */
body.overlay-is-active {
  overflow: hidden;
}

.lan-tibetan-wrap {
  background-color: #FAF7F0;
}

/* topbar */
#topbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#topbar > .start-box {
  z-index: 99;
}
#topbar > .start-box .logo {
  width: 180px;
  height: 34px;
  margin-top: 35px;
  margin-left: 30px;
  background: url("../images/logo.svg") center/cover no-repeat;
  transition: background-image 0.35s;
}
#topbar > .start-box .logo:hover {
  background-image: url(../images/logo--hover.svg);
}
#topbar > .end-box {
  z-index: 99;
}
#topbar > .end-box .menu-btn {
  width: 48px;
  height: 48px;
  margin-top: 25px;
  margin-right: 25px;
  /* 修改btn瀏覽器上預設樣式 */
  background-color: transparent;
  border: none;
  transition: 0.35s;
}
#topbar > .end-box .menu-btn:hover .bar {
  background-color: rgba(24, 2, 10, 0.5);
}
#topbar > .end-box .menu-btn .bar {
  display: block;
  width: 40px;
  height: 3px;
  background-color: #18020A;
  margin: 8px auto;
  transition: 0.35s;
}
#topbar > .end-box .menu-btn.is-active {
  transform: translateX(-15px);
}
#topbar > .end-box .menu-btn.is-active .bar:nth-child(1) {
  /* transform有先後順序，應先移動到中心點再轉 */
  transform: translateY(10.5px) rotate(45deg);
}
#topbar > .end-box .menu-btn.is-active .bar:nth-child(2) {
  opacity: 0;
}
#topbar > .end-box .menu-btn.is-active .bar:nth-child(3) {
  transform: translateY(-10.5px) rotate(-45deg);
}
#topbar .menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #F1EDE3;
  display: none;
}
#topbar .menu-overlay-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
#topbar .menu-overlay-wrap .start-box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#topbar .menu-overlay-wrap .start-box .menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
#topbar .menu-overlay-wrap .start-box .menu-list .menu-item {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #18020A;
  border-bottom: solid 2px transparent;
  transition: 0.35s;
}
#topbar .menu-overlay-wrap .start-box .menu-list .menu-item:hover {
  color: rgba(24, 2, 10, 0.8);
  border-bottom: solid 2px #eeb330;
}
#topbar .menu-overlay-wrap .start-box .menu-list .home-page-link {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: #18020A;
}
#topbar .menu-overlay-wrap .mid-box {
  flex: 1.34;
  max-width: 580px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#topbar .menu-overlay-wrap .mid-box .pic-box {
  background-color: #FBF9F9;
  padding: 30px;
  aspect-ratio: 580/630;
}
#topbar .menu-overlay-wrap .mid-box .pic-box .picture {
  height: 100%;
}
#topbar .menu-overlay-wrap .mid-box .illustration-teacher {
  width: 65%;
  aspect-ratio: 330/163;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(50%);
}
#topbar .menu-overlay-wrap .end-box {
  flex: 1;
  width: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
#topbar .menu-overlay-wrap .end-box .wrap {
  margin: 0 auto;
  width: min-content;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
#topbar .menu-overlay-wrap .end-box .wrap .title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: #18020A;
}
#topbar .menu-overlay-wrap .end-box .wrap .menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 1rem;
}
#topbar .menu-overlay-wrap .end-box .wrap .menu-list .row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
#topbar .menu-overlay-wrap .end-box .wrap .menu-list .row .menu-item {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #18020A;
  border-bottom: solid 2px transparent;
  transition: 0.35s;
}
#topbar .menu-overlay-wrap .end-box .wrap .menu-list .row .menu-item:hover {
  color: rgba(24, 2, 10, 0.8);
  border-bottom: solid 2px #eeb330;
}
#topbar .menu-overlay-wrap .illustration-yak {
  position: absolute;
  right: -30px;
  bottom: -70px;
  height: 27%;
  aspect-ratio: 1/1;
  transform: scaleX(-1);
}

/* footer */
footer {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .copyrightText {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #18020A;
  margin-right: 8px;
  border-bottom: solid 2px transparent;
}
footer .designerLink {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #18020A;
  font-weight: 500;
  color: #eeb330;
  border-bottom: solid 2px transparent;
  transition: border 0.35s;
}
footer .designerLink:hover {
  border-bottom: solid 2px #eeb330;
}

#sub-page-banner {
  height: 100vh;
  padding-left: 50px;
  padding-right: 50px;
}
#sub-page-banner .wrap {
  height: 100%;
  position: relative;
}
#sub-page-banner .wrap .banner-pic {
  height: 100%;
}
#sub-page-banner .wrap .title-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#sub-page-banner .wrap .title-box .title-tc {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.6rem;
  text-shadow: 0 0 10px #18020A;
  color: #FAF7F0;
}
#sub-page-banner .wrap .title-box .title-tibetan {
  font-family: "Noto Serif Tibetan", sans-serif;
  font-size: 2rem;
  color: #FAF7F0;
  letter-spacing: 0.3rem;
  text-shadow: 0 0 10px #18020A;
}
#sub-page-banner .wrap .construction-text {
  position: absolute;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.6rem;
  text-shadow: 0 0 10px #18020A;
  color: #FAF7F0;
  top: 75%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#sub-page-banner .wrap .construction-icon {
  position: absolute;
  bottom: 0;
  right: 0;
}

.article-card-row {
  display: flex;
  align-items: center;
}
.article-card-row .card-wrap {
  display: flex;
  column-gap: 1rem;
}
.article-card-row .card-wrap .content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 3;
  padding: 10px 0 10px 10px;
}
.article-card-row .card-wrap .content-box .category {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0;
  color: #18020A;
  padding: 8px 16px;
  background-color: #5E1721;
  color: #FAF7F0;
  border-radius: 10px;
  line-height: 0.875rem;
  transition: 0.35s;
}
.article-card-row .card-wrap .content-box .title {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #18020A;
  margin-left: 10px;
  transition: 0.35s;
}
.article-card-row .card-wrap .content-box .date {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #18020A;
  color: #CEA7AC;
  margin-left: 10px;
  transition: 0.35s;
}
.article-card-row .card-wrap .pic {
  width: 235px;
  aspect-ratio: 1/1;
  flex-shrink: 1;
  margin-right: 20px;
  overflow: hidden;
}
.article-card-row .card-wrap .pic img {
  transition: 0.35s;
}
.article-card-row .card-wrap:hover .category {
  transform: scale(105%);
}
.article-card-row .card-wrap:hover .title {
  color: rgba(24, 2, 10, 0.5);
}
.article-card-row .card-wrap:hover .pic img {
  transform: scale(103%);
}
.article-card-row .card-wrap:hover .date {
  color: #5E1721;
}

.lan-article {
  display: flex;
  column-gap: 3rem;
}
.lan-article .title {
  writing-mode: vertical-lr;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  color: #18020A;
  letter-spacing: 0.8rem;
  color: #5E1721;
}
.lan-article .end-box {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
.lan-article .end-box .subtitle {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: #18020A;
  margin-bottom: 4rem;
}
.lan-article .end-box .content {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #18020A;
  margin-bottom: 3rem;
}
.lan-article .end-box .view-more-btn {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #18020A;
  display: flex;
  column-gap: 8px;
  align-self: flex-start;
}
.lan-article .end-box .view-more-btn .text {
  border-bottom: solid 2px transparent;
  transition: border-bottom 0.35s;
}
.lan-article .end-box .view-more-btn .icon {
  background-color: #eeb330;
  border-radius: 30px;
  padding: 4px 16px;
  line-height: 1.2;
  box-shadow: 0 0 2px #18020A;
  transition: 0.35s;
}
.lan-article .end-box .view-more-btn:hover .text {
  border-bottom: solid 2px #eeb330;
}
.lan-article .end-box .view-more-btn:hover .icon {
  background-color: #FBF9F9;
}

.view-more-btn {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #18020A;
  display: flex;
  column-gap: 8px;
}
.view-more-btn .text {
  border-bottom: solid 2px transparent;
  transition: border-bottom 0.35s;
}
.view-more-btn .icon {
  background-color: #eeb330;
  border-radius: 30px;
  padding: 4px 16px;
  line-height: 1.2;
  box-shadow: 0 0 2px #18020A;
  transition: 0.35s;
}
.view-more-btn:hover .text {
  border-bottom: solid 2px #eeb330;
}
.view-more-btn:hover .icon {
  background-color: #FBF9F9;
}

.simple-card-list {
  display: flex;
  align-items: center;
  padding: 50px 80px 30px 80px;
  column-gap: 30px;
  height: 62.5vh;
}
.simple-card-list .simple-card-item {
  flex: 1;
}
.simple-card-list .simple-card-item .simple-card .picture-masked {
  aspect-ratio: 300/350;
  margin-bottom: 1.5rem;
}
.simple-card-list .simple-card-item .simple-card .picture-masked img {
  transition: 0.35s;
}
.simple-card-list .simple-card-item .simple-card .title {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #18020A;
  margin-bottom: 0.5rem;
  transition: 0.35s;
}
.simple-card-list .simple-card-item .simple-card:hover .picture-masked img {
  transform: scale(105%);
}
.simple-card-list .simple-card-item .simple-card:hover .title {
  color: rgba(24, 2, 10, 0.8);
}

.split-line-col {
  background-color: rgba(24, 2, 10, 0.5);
  width: 1px;
  height: 100%;
}

.split-line-row {
  background-color: rgba(24, 2, 10, 0.5);
  width: 100%;
  height: 1px;
}

.picture-masked {
  mask: url(../images/main-mask.svg) center/cover no-repeat;
}

/* 首頁從這開始 */
/* banner區 */
#banner {
  position: relative;
  height: 100vh;
}
#banner .title-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
#banner .title-box .title-tc {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 0.6rem;
  text-shadow: 0 0 10px #18020A;
  color: #FAF7F0;
}
#banner .title-box .title-tibetan {
  font-family: "Qomolangma-Tsumachu", sans-serif;
  font-size: 2rem;
  color: #FAF7F0;
  letter-spacing: 0.3rem;
  text-shadow: 0 0 10px #18020A;
}
#banner .slide-box {
  width: 100%;
  height: 100%;
  position: relative;
}
#banner .slide-box .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
#banner .slide-box .slide img {
  object-fit: cover;
  transform: scale(110%);
}

/* 最新消息 */
#home-page-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 80px 20px 80px;
}
#home-page-news .news-wrap {
  display: flex;
  column-gap: 30px;
  max-width: 1280px;
  padding: 35px 50px 60px 35px;
}
#home-page-news .news-wrap .title-box {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
#home-page-news .news-wrap .title-box .title {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  color: #18020A;
  color: #5E1721;
}
#home-page-news .news-wrap .title-box .illustration {
  width: 200px;
  height: 200px;
  margin-left: 12px;
}
#home-page-news .news-wrap .title-box .illustration img {
  object-fit: contain;
}
#home-page-news .news-wrap .article-list {
  display: flex;
  align-items: center;
}
#home-page-news .news-wrap .article-list .split-line-col {
  height: 90%;
}
#home-page-news .split-line-row {
  max-width: 1280px;
}

/* 關於我 */
#home-page-about {
  height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px 100px 0px;
}
#home-page-about .about-wrap {
  max-width: 1400px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 48px;
}
#home-page-about .about-item1 .picture-masked {
  margin-left: 10px;
}
#home-page-about .about-item2 .lan-article {
  max-width: 485px;
}
#home-page-about .about-item3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin-right: 30px;
}
#home-page-about .about-item3 .picture-masked:first-child {
  margin-right: 10px;
  width: 75%;
}

#bg-transition1 {
  aspect-ratio: 1440/460;
  background: url("../images/picture/tibet-flag1.jpg") center/cover no-repeat;
  background-attachment: fixed;
}

/* 藏地文化 */
#home-page-tibetan-culture {
  padding: 0 0 50px 0;
}
#home-page-tibetan-culture .culture-wrap {
  max-width: 1440px;
  margin: 0 auto;
}
#home-page-tibetan-culture .culture-wrap .intro-box {
  margin-bottom: 80px;
}
#home-page-tibetan-culture .culture-wrap .intro-box .pic-box {
  position: relative;
  margin-bottom: 50px;
  margin-top: 20%;
}
#home-page-tibetan-culture .culture-wrap .intro-box .pic-box .pic1 {
  aspect-ratio: 1033/800;
  width: 71.73%;
  border-radius: 10px;
  overflow: hidden;
}
#home-page-tibetan-culture .culture-wrap .intro-box .pic-box .pic2 {
  position: absolute;
  border-radius: 10px;
  width: 24.3%;
  top: -18.75%;
  right: 10.41%;
  overflow: hidden;
  aspect-ratio: 350/420;
}
#home-page-tibetan-culture .culture-wrap .intro-box .pic-box .pic3 {
  position: absolute;
  border-radius: 10px;
  width: 34.72%;
  bottom: -38.5%;
  left: 8.33%;
  overflow: hidden;
  aspect-ratio: 500/420;
  filter: saturate(0.8);
}
#home-page-tibetan-culture .culture-wrap .intro-box .pic-box img {
  object-position: 85%;
}
#home-page-tibetan-culture .article-box {
  display: flex;
  justify-content: flex-end;
  padding-right: 80px;
}
#home-page-tibetan-culture .article-box .lan-article {
  width: 42%;
  column-gap: 1.5rem;
}
#home-page-tibetan-culture .article-box .lan-article .end-box .subtitle {
  margin-bottom: 2rem;
}
#home-page-tibetan-culture .article-box .lan-article .end-box .content {
  margin-bottom: 1rem;
}
#home-page-tibetan-culture .article-box .lan-article .view-more-btn {
  align-self: flex-end;
}

#bg-transition2 {
  aspect-ratio: 1440/460;
  background: url("../images/picture/view1.jpg") center/cover no-repeat;
  background-attachment: fixed;
}

/* 藏文課程 */
#home-page-lesson {
  height: 150vh;
  padding: 100px 80px 100px 80px;
  display: flex;
  column-gap: 30px;
}
#home-page-lesson > div {
  flex: 1;
}
#home-page-lesson .start-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#home-page-lesson .start-box .article-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
#home-page-lesson .start-box .article-wrap .lan-article {
  max-width: 485px;
}
#home-page-lesson .start-box .picture-masked {
  height: 28.57%;
  margin-bottom: 50px;
}
#home-page-lesson .end-box {
  display: flex;
  flex-direction: column;
}
#home-page-lesson .end-box .picture-masked {
  height: 80.95%;
  margin-bottom: 30px;
}
#home-page-lesson .end-box .illustration {
  height: 15.23%;
  align-self: flex-end;
}
#home-page-lesson .end-box .illustration img {
  object-fit: contain;
}

/* 自動輪播 */
#auto-carousel {
  height: 45vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}
#auto-carousel img {
  aspect-ratio: 450/360;
}

/* 我的文章 */
#my-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px 45px 80px;
}
#my-article .my-article-wrap {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
}
#my-article .my-article-wrap .title {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
  color: #18020A;
  color: #5E1721;
  margin-bottom: 30px;
}
#my-article .my-article-wrap .subtitle {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: #18020A;
  margin-bottom: 70px;
}
#my-article .my-article-wrap .article-card-list {
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin-bottom: 30px;
}
#my-article .my-article-wrap .article-card-list .article-card-col {
  flex: 1;
}
#my-article .my-article-wrap .article-card-list .article-card-col .picture {
  aspect-ratio: 1/1;
  margin-bottom: 20px;
  overflow: hidden;
}
#my-article .my-article-wrap .article-card-list .article-card-col .picture img {
  transition: 0.35s;
}
#my-article .my-article-wrap .article-card-list .article-card-col .title {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #18020A;
  margin-bottom: 5px;
  transition: 0.35s;
}
#my-article .my-article-wrap .article-card-list .article-card-col .time {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #18020A;
  color: #CEA7AC;
  transition: 0.35s;
}
#my-article .my-article-wrap .article-card-list .article-card-col:hover .picture img {
  transform: scale(105%);
}
#my-article .my-article-wrap .article-card-list .article-card-col:hover .title {
  color: rgba(24, 2, 10, 0.8);
}
#my-article .my-article-wrap .article-card-list .article-card-col:hover .time {
  color: #5E1721;
}
#my-article .my-article-wrap .view-more-btn {
  align-self: flex-end;
}

/* 關於我頁面 */
#sub-page-banner--about-page {
  position: relative;
  height: 100vh;
  padding-left: 50px;
  padding-right: 50px;
}
#sub-page-banner--about-page .banner-pic {
  height: 100%;
}
#sub-page-banner--about-page .title-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 200px;
  bottom: 50px;
}
#sub-page-banner--about-page .title-box .title-tc {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.6rem;
  text-shadow: 0 0 10px #18020A;
  color: #FAF7F0;
}
#sub-page-banner--about-page .title-box .title-tibetan {
  font-family: "Noto Serif Tibetan", sans-serif;
  font-size: 2rem;
  color: #FAF7F0;
  letter-spacing: 0.3rem;
  text-shadow: 0 0 10px #18020A;
}

#about-page-introduction {
  height: 150vh;
  display: flex;
  padding: 120px 0;
}
#about-page-introduction .pic-start-box {
  flex: 1;
  position: relative;
}
#about-page-introduction .pic-start-box .pic {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 73%;
  aspect-ratio: 350/400;
}
#about-page-introduction .content-box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about-page-introduction .content-box .wrap {
  max-width: 386px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
}
#about-page-introduction .content-box .wrap .title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: #18020A;
}
#about-page-introduction .content-box .wrap .para-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}
#about-page-introduction .content-box .wrap .para-box .content {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #18020A;
}
#about-page-introduction .pic-end-box {
  flex: 1;
  position: relative;
}
#about-page-introduction .pic-end-box .pic {
  position: absolute;
  top: 0;
  right: 0;
  width: 83%;
  aspect-ratio: 400/500;
}

#bg-transition3 {
  aspect-ratio: 1440/460;
  background: url("../images/picture/tibetan-bowl2.jpg") center/cover no-repeat;
  background-attachment: fixed;
}

#about-page-lesson-intro {
  padding: 120px 0;
}
#about-page-lesson-intro .wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
}
#about-page-lesson-intro .wrap .title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: #18020A;
}
#about-page-lesson-intro .wrap .card-list {
  width: 75%;
  row-gap: 2.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about-page-lesson-intro .wrap .card-list .lesson-card-row {
  max-width: 1120px;
  width: 100%;
  padding: 3rem;
  border: solid 2px #CEA7AC;
  border-radius: 1rem;
  display: flex;
  column-gap: 4rem;
}
#about-page-lesson-intro .wrap .card-list .lesson-card-row:last-child {
  flex-direction: row-reverse;
}
#about-page-lesson-intro .wrap .card-list .lesson-card-row .start-box {
  flex: 1;
}
#about-page-lesson-intro .wrap .card-list .lesson-card-row .start-box .pic {
  height: 350px;
  overflow: hidden;
  border-radius: 0.75rem;
}
#about-page-lesson-intro .wrap .card-list .lesson-card-row .end-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#about-page-lesson-intro .wrap .card-list .lesson-card-row .end-box .card-title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: #18020A;
}
#about-page-lesson-intro .wrap .card-list .lesson-card-row .end-box .card-content {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #18020A;
}
#about-page-lesson-intro .wrap .card-list .lesson-card-row .end-box .view-more-btn {
  align-self: flex-end;
}/*# sourceMappingURL=style.css.map */