@use "../variables/" as *;

// 經典flex置中
@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexCenterCol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flexCenterRow {
    display: flex;
    align-items: center;
}

// 文字陰影
@mixin textShadowBlur10 {
    text-shadow: 0 0 10px map-get($color, dark);
}

// 字體規範
@mixin titleXlMedium {
    font-size: map-get($font-size, xl);
    font-weight: 500;
    letter-spacing: 0.6rem;
    @include textShadowBlur10();
}

@mixin titleXlNormal {
    font-size: map-get($font-size, xl);
    font-weight: 400;
    letter-spacing: 0.6rem;
    @include textShadowBlur10();
}

@mixin titleLMedium {
    font-size: map-get($font-size, l);
    font-weight: 500;
    letter-spacing: 0.2rem;
    color: map-get($color, dark);
}

@mixin titleMMedium {
    font-size: map-get($font-size, m);
    font-weight: 500;
    letter-spacing: 0.15rem;
    color: map-get($color, dark);
}

@mixin titleMBold {
    font-size: map-get($font-size, m);
    font-weight: 700;
    letter-spacing: 0.15rem;
    color: map-get($color, dark);
}

@mixin paraSNormal {
    font-size: map-get($font-size, s);
    font-weight: 400;
    letter-spacing: 0.05rem;
    color: map-get($color, dark);
}

@mixin paraMNormal {
    font-size: map-get($font-size, m);
    font-weight: 400;
    letter-spacing: 0.05rem;
    color: map-get($color, dark);
}

@mixin noteSNormal {
    font-size: map-get($font-size, xs);
    font-weight: 400;
    letter-spacing: 0;
    color: map-get($color, dark);
}

// tag樣式
@mixin lanTibetanTag {
    @include noteSNormal;
    padding: 8px 16px;
    background-color: map-get($color, primary1);
    color: map-get($color, light);
    border-radius: 10px;
    line-height: map-get($font-size, xs);
}

// 背景fixed
@mixin bgAttachFixed($url: "../images/picture/tibet-flag1.jpg") {
    background: url($url) center/cover no-repeat;
    background-attachment: fixed;
}

// 背景置中cover和不重複
@mixin bgCCN($url: "../images/logo.svg") {
    background: url($url) center/cover no-repeat;
}