// 顏色規範
$color: (
    primary1: #5E1721,
    secondary1:#A36069,
    less1:#CEA7AC,
    accent:#eeb330,
    // accent:#DBA121,
    light: #FAF7F0,
    light2: #F1EDE3,
    light3:#FBF9F9,
    dark:#18020A,
    // 半透明
    dark-80: rgba(24, 2, 10, 0.8),
    dark-50: rgba(24, 2, 10, 0.5),
    dark-20: rgba(24, 2, 10, 0.2)
);