// 字級規範
$font-size: (
    xs: 0.875rem,
    s: 1rem,
    m: 1.5rem,
    l: 2rem,
    xl: 4rem,
);

// 字體規範
$font-family-tibetan-title: "Qomolangma-Tsumachu", sans-serif;
$font-family-tc: "Noto Sans TC", sans-serif;